.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5rem;
  position: relative;
}

.line {
  position: absolute;
  width: 0.25rem;
  top: 0;
  right: 0;
  height: 100%;
  background-color: var(--col-blue-800);
  transform-origin: top center;
}
