.login {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: var(--col-blue-700);

  &_right {
    width: 100%;

    @media (min-width: 768px) {
      flex-basis: 50%;
    }
  }

  &_left {
    padding: 2rem;
    flex-basis: 50%;
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("../../../../public/images/webp/home.webp") no-repeat center;
    background-size: cover;
    @media (min-width: 768px) {
      position: static;
    }

    &_img {
      aspect-ratio: 1007/248;
      height: 3rem;
    }
  }
}
