.container {
  height: 90vh;
  padding: 1rem;

  @media (min-width: 768px) {
    display: flex;
    gap: 2rem;
    align-items: center;
    height: 100vh;
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (min-width: 768px) {
      max-width: 50vw;
    }
  }
}

.img {
  display: none;

  @media (min-width: 768px) {
    aspect-ratio: 1;
    height: calc(100vh - 5rem);
    display: block;
  }
}

.title {
  width: 10em;
  text-transform: capitalize;
  height: 1.25em;
  font-size: 5rem;

  @media (min-width: 768px) {
    font-size: 7rem;
  }
}

.socials {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;

  &_icon {
    font-size: 1.5rem;
  }
}

.cta {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.25rem;
  width: fit-content;

  &:hover {
    text-decoration: underline;
  }
}

.locations {
  display: flex;
  gap: 2rem;
  justify-content: center;

  &_name {
    text-transform: capitalize;
    font-size: 1.25rem;
  }

  &_card {
    max-width: 20em;
  }

  &_address {
    font-size: 0.75rem;
    color: var(--col-tundora-300);
    line-height: 1em;

    &:hover {
      color: var(--color-white);
    }
  }
}
