.img {
  display: block;
  height: 350px;
  object-fit: contain;
  transition: filter 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    filter: brightness(0.7);
  }
}

.container {
  display: block;
  max-width: 100%;
  margin-inline: auto;
}
