.hero {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 4rem;
  max-height: 90vh;
  padding: 1rem 4rem;

  @media (min-width: 768px) {
    padding: 0;
  }

  &_img {
    display: none;

    @media (min-width: 768px) {
      display: block;
      aspect-ratio: 1;
      width: 100%;
      filter: brightness(0.6);
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &_title {
      font-size: 3rem;
      margin-bottom: 0.5em;
      text-transform: capitalize;
    }

    &_quote {
      font-size: 1.5rem;
      font-style: italic;
      line-height: 1.25em;
      margin-bottom: 1em;
    }

    &_ceo {
      position: relative;
      & a {
        text-decoration: underline;
      }
    }
  }
}
