:root {
  font-size: 12px;

  --col-grey-50: #fbfbfb;
  --col-grey-100: #f7f7f7;
  --col-grey-150: #b2b2b2;
  --col-grey-200: #464646;
  --col-grey-250: #f2f4f5;

  --col-blue-400: #50b8e7;

  --col-black: #000102;
  --col-white: #fff;

  --col-azure-50: #eef8ff;
  --col-azure-100: #daefff;
  --col-azure-200: #bde3ff;
  --col-azure-300: #8fd3ff;
  --col-azure-400: #5ab8ff;
  --col-azure-500: #3499fd;
  --col-azure-600: #1877f2;
  --col-azure-700: #1664df;
  --col-azure-800: #1950b4;
  --col-azure-900: #1a468e;
  --col-azure-950: #152c56;

  --col-tundora-50: #f7f7f7;
  --col-tundora-100: #e3e3e3;
  --col-tundora-200: #c8c8c8;
  --col-tundora-300: #a4a4a4;
  --col-tundora-400: #818181;
  --col-tundora-500: #666666;
  --col-tundora-600: #515151;
  --col-tundora-700: #464646;
  --col-tundora-800: #383838;
  --col-tundora-900: #313131;
  --col-tundora-950: #1a1a1a;

  --col-blue-50: #e8f0fc;
  --col-blue-100: #d0e0f9;
  --col-blue-200: #a2c1f2;
  --col-blue-300: #73a2ec;
  --col-blue-400: #4583e5;
  --col-blue-500: #1664df;
  --col-blue-600: #1250b2;
  --col-blue-700: #0d3c86;
  --col-blue-800: #092859;
  --col-blue-900: #04142d;

  --col-biru-tsg: #84cdee;
  --col-biru-about: #dcf0fa;
  --col-biru-text: #50b8e7;
  --col-biru-dark: #3277a9;
  --col-biru-chat: #448af7;
}
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
    background-color: var(--col-black);
    max-width: 100vw;
    overflow-x: hidden;
    color: var(--col-blue-50);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

u,li{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

#main_container{
  position: relative;
  z-index: 2;
  background-color: var(--col-black);
  @media (min-width : 768px) {
    translate: 0 -4rem;
    padding: 5rem;
  }
}

@media (min-width: 768px) {
  :root {
    font-size: 16px;
  }
}
