.title {
  font-size: 2rem;
  font-weight: 700;
  max-width: 30em;
  text-transform: capitalize;
  margin-bottom: 1em;
}

.text {
  font-size: 1.5rem;
}

.container {
  width: 100%;
  max-width: 50em;
}

.editor {
  max-width: 100%;
  width: fit-content;
  & img {
    width: fit-content;
    max-width: 100%;
    object-fit: cover;
  }
}

.delete_btn {
  border-radius: 50%;
  display: block;
  margin-inline: auto;
  aspect-ratio: 1;
  border: 1px solid var(--col-tundora-200);
  padding: 0.5rem;
  background-color: transparent;
  transition: all, 0.2s ease-in-out;

  &:hover {
    background-color: var(--col-tundora-50);
    border-color: var(--col-tundora-300);
    color: red;
  }
}
