.title {
  font-size: 2rem;
  font-weight: 700;
  max-width: 30em;
  text-transform: capitalize;
  margin-bottom: 1em;
}

.text {
  font-size: 1.5rem;
}

.container {
  width: 100%;
  max-width: 50em;
}
