.content {
  padding: 0.5rem;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    background-color: var(--col-blue-700);
  }

  &::after {
    aspect-ratio: 1;
    width: 2rem;
    border-radius: 50%;
    z-index: 1;
    right: -1rem;
    translate: 0 -50%;
    top: 50%;
  }

  &::before {
    height: calc(100% + 1rem);
    right: 2.5rem;
    top: -0.15rem;
    border-radius: 0.5rem;
    width: 0;
    transition: width 0.3s ease-in-out;
    z-index: -1;
  }

  &[data-show="true"] {
    opacity: 1;

    &::before {
      width: calc(100% - 2rem);
    }
  }

  &_title {
    text-transform: capitalize;
    font-size: 1.5rem;
  }
  &_date {
    text-transform: capitalize;
    color: var(--col-tundora-300);
    font-size: 0.75rem;
  }

  &_desc {
    font-size: 1.25rem;
    width: calc(100% - 3rem);
  }
}
