.tsg_logo{
    height: 3rem;
    aspect-ratio: 487/120;
    &_sm{
        aspect-ratio: 1;
        width: 4rem;
        display: block;
    }

    @media (min-width :768px) {
        display: block;
        &_sm{
            display: none;
        }
    }
}

.odoo_logo{
    height: 3rem;
    aspect-ratio: 177/82;
    display: none;

    @media (min-width :768px) {
        display: block;
    }
}

.container{
    position: sticky;
    top: 0;
    background-color: var(--bg-col);
    padding: 1rem;
    transition: background-color .3s ease-in-out;
    z-index: 100;

    @media (min-width: 768px) {
        padding: .5rem 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.nav{
  display: none;

    @media (min-width :768px) {
        display: flex;
        align-items: center;
        gap: .5rem;
    }
}

.icon{
    aspect-ratio: 1;
    width: 2rem;
}

.logo_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger{
    @media (min-width: 768px) {
        display: none;
    }
}