.tsg_logo {
  height: 3rem;
  // aspect-ratio: 487/120;
  aspect-ratio: 1;
  &_sm {
    aspect-ratio: 1;
    width: 4rem;
    display: block;
  }

  @media (min-width: 768px) {
    display: block;
    &_sm {
      display: none;
    }
  }
}

.odoo_logo {
  height: 3rem;
  aspect-ratio: 177/82;
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.container {
  position: sticky;
  top: -1px;
  padding: 1rem;
  background-color: var(--col-blue-800);
  transition: background-color 0.3s ease-in-out;
  z-index: 100;

  @media (min-width: 768px) {
    background-color: var(--bg-col);
    padding: 0.5rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav {
  position: absolute;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  left: 0;
  z-index: 2;
  top: 5rem;
  background-color: var(--col-blue-800);
  transition: clip-path 0.5s ease-in-out;
  clip-path: circle(0% at 100% 0%);

  &[data-open="true"] {
    clip-path: circle(100%);
  }

  @media (min-width: 768px) {
    position: static;
    height: fit-content;
    min-height: fit-content;
    background-color: transparent;
    clip-path: none;
  }

  &_list {
    padding: 3rem 1rem;

    @media (min-width: 768px) {
      padding: 0;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    & li a {
      font-size: 2rem;
      @media (min-width: 768px) {
        font-size: 0.75rem;
      }
    }
  }
}

.icon {
  aspect-ratio: 1;
  width: 2rem;
}

.logo_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  @media (min-width: 768px) {
    display: none;
  }
}
