.link{
    font-weight: 500;
    color: var(--col-grey-250);
    text-transform: capitalize;
    padding: .5rem 1rem;
    font-size: .8rem;

    &_with_overlay{
        position: relative;

        &:hover .overlay, &:focus-within .overlay{
            display: flex;
        }
   }

   &:hover{
    color: var(--col-biru-chat);
   }

   &_inner{
    padding: .5rem;
    border-radius: .25rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: .75rem;
    text-transform: capitalize;

    &:hover{
        background-color: var(--col-tundora-100);
    }

   }

}

.overlay{
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: var(--col-grey-250);
    border-radius: .25rem;
    min-width: 20rem;
    top: calc(100%);
    animation: fadeIn .2s linear;
    font-weight: 500;
    overflow: hidden;
    padding: .25rem;
    
    &:hover, &:focus-within{
        display: flex;
    }
}

@keyframes fadeIn {
    from{
        opacity: 0;
        translate: 0 1rem;
    }
    to{
        opacity: 1;
        translate: 0 0;
    }
}